@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto+Mono:wght@500;700&display=swap');

body {
    margin: 0;
    overflow: hidden;
    background-color: #111;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

#game-canvas {
    display: block;
    cursor: crosshair;
}

#ui-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.hidden {
    display: none !important;
}

h1,
h2 {
    font-family: 'Black Ops One', cursive;
    margin: 0 0 20px 0;
    color: #ddd;
    text-transform: uppercase;
}